<li>
  <%= gravatar_for user, size: Settings.users.size_gra %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
   | <%= link_to t(".delete"), user,
    method: :delete, data: {confirm: t(".u_sure")} %>
  <% end %>
</li>
